<section class='w-75 p-3 border mx-auto'>

  <div class='d-flex justify-content-center'>
    <h3><%= @recipe.name %></h3>
  </div>

  <div>
    <div class='d-flex justify-content-xl-between'>
    
      <span>Preparation time: <%= @recipe.preparation_time %> </span>
      
      <div class="custom-control custom-checkbox">
        <label class="custom-control-label" for="customCheck1">Public</label>

        <% if @recipe.public? %>
            <input type="checkbox" checked class="custom-control-input" id="customCheck1">
        <% else %>
            <input type="checkbox" class="custom-control-input" id="customCheck1">
        <% end %>
      </div>


    </div>

    <span>Cooking time: <%= @recipe.cooking_time %></span>
  </div>

  <br />

  <div class='d-flex justify-content-xl-between'>

    <button type="button" class="btn btn-primary btn-sm text-decoration-none">
      <%= link_to 'Generate shopping list', recipe_shopping_lists_path(@recipe) %>
    </button>

    <button type="button" class="btn btn-primary btn-sm">
      <%= link_to new_recipe_recipe_food_path(@recipe), :class => "Add ingredients" do %>
       Add Ingredients
      <% end %>
      
    </button>

  </div>

  <hr />

  <table class='table table-striped table-bordered table-hover'>

    <thead class='table-dark'>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>

      <% if @recipe_foods.empty? %>
        <p>No ingredients</p>
      <% end %>

      <tbody>
        <% @recipe_foods.each do |recipe| %>
          <tr>
            <td><%= recipe.food.name %></td>
            <td><%= recipe.quantity %></td>
            <td><%= recipe.food.price %></td>
            <td>
              <%# <% if can? :update, @recipe %> 
              <div class='d-flex justify-content-xl-around'>

                <%= button_to "Delete", recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe.id), method: :delete, class:"btn btn-danger btn-sm"%>
                
              </div>
              <%# <% end %>
          </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    <tr>

    </tr>
  </table>

</section>